# Include the XGBoost model file
recursive-include ace_lensing/models *.xgb

# Include the PCA file
include ace_lensing/models/pca.pkl

# Include the Scaling file
include ace_lensing/models/scale.pkl

# Include all Python files in the ace_lensing directory
recursive-include ace_lensing *.py

# Include the training and testing data file
recursive-include ace_lensing/data *.parquet

# Include the README file
include README.md
